/* Thin — 100 */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src:
    url("/fonts/livvic/livvic-v15-latin-100.woff2") format("woff2"),
    url("/fonts/livvic/Livvic-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Livvic";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src:
    url("/fonts/livvic/livvic-v15-latin-100italic.woff2") format("woff2"),
    url("/fonts/livvic/Livvic-ThinItalic.ttf") format("truetype");
}

/* ===================================================================================== */

/* ExtraLight — 200 */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src:
    url("/fonts/livvic/livvic-v15-latin-200.woff2") format("woff2"),
    url("/fonts/livvic/Livvic-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Livvic";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src:
    url("/fonts/livvic/livvic-v15-latin-200italic.woff2") format("woff2"),
    url("/fonts/livvic/Livvic-ExtraLightItalic.ttf") format("truetype");
}

/* ===================================================================================== */

/* Light — 300 */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    url("/fonts/livvic/livvic-v15-latin-300.woff2") format("woff2"),
    url("/fonts/livvic/Livvic-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Livvic";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src:
    url("/fonts/livvic/livvic-v15-latin-300italic.woff2") format("woff2"),
    url("/fonts/livvic/Livvic-LightItalic.ttf") format("truetype");
}

/* ===================================================================================== */

/* Regular — 400 */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("/fonts/livvic/livvic-v15-latin-regular.woff2") format("woff2"),
    url("/fonts/livvic/Livvic-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Livvic";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    url("/fonts/livvic/livvic-v15-latin-italic.woff2") format("woff2"),
    url("/fonts/livvic/Livvic-Italic.ttf") format("truetype");
}

/* ===================================================================================== */

/* Medium — 500 */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url("/fonts/livvic/livvic-v15-latin-500.woff2") format("woff2"),
    url("/fonts/livvic/Livvic-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Livvic";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    url("/fonts/livvic/livvic-v15-latin-500italic.woff2") format("woff2"),
    url("/fonts/livvic/Livvic-MediumItalic.ttf") format("truetype");
}

/* ===================================================================================== */

/* SemiBold — 600 */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url("/fonts/livvic/livvic-v15-latin-600.woff2") format("woff2"),
    url("/fonts/livvic/Livvic-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Livvic";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src:
    url("/fonts/livvic/livvic-v15-latin-600italic.woff2") format("woff2"),
    url("/fonts/livvic/Livvic-SemiBoldItalic.ttf") format("truetype");
}

/* ===================================================================================== */

/* Bold — 700 */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("/fonts/livvic/livvic-v15-latin-700.woff2") format("woff2"),
    url("/fonts/livvic/Livvic-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Livvic";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
    url("/fonts/livvic/livvic-v15-latin-700italic.woff2") format("woff2"),
    url("/fonts/livvic/Livvic-BoldItalic.ttf") format("truetype");
}

/* ===================================================================================== */

/* Black — 900 */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
    url("/fonts/livvic/livvic-v15-latin-900.woff2") format("woff2"),
    url("/fonts/livvic/Livvic-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Livvic";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src:
    url("/fonts/livvic/livvic-v15-latin-900italic.woff2") format("woff2"),
    url("/fonts/livvic/Livvic-BlackItalic.ttf") format("truetype");
}

/* ===================================================================================== */

/* almarai-300 - arabic_latin */
@font-face {
  font-display: swap;
  font-family: "Almarai";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/almarai/almarai-v19-arabic_latin-300.woff2") format("woff2");
}

/* ===================================================================================== */

/* almarai-regular 400 - arabic_latin */
@font-face {
  font-display: swap;
  font-family: "Almarai";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/almarai/almarai-v19-arabic_latin-regular.woff2")
    format("woff2");
}

/* ===================================================================================== */

/* almarai-700 - arabic_latin */
@font-face {
  font-display: swap;
  font-family: "Almarai";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/almarai/almarai-v19-arabic_latin-700.woff2") format("woff2");
}

/* ===================================================================================== */

/* almarai-800 - arabic_latin */
@font-face {
  font-display: swap;
  font-family: "Almarai";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/almarai/almarai-v19-arabic_latin-800.woff2") format("woff2");
}

/* ===================================================================================== */

/* inter - 100 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/inter/inter-v20-latin-100.woff2") format("woff2");
}

/* inter - 100 italic - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: italic;
  font-weight: 100;
  src: url("/fonts/inter/inter-v20-latin-100italic.woff2") format("woff2");
}

/* ===================================================================================== */

/* inter - 200 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/inter/inter-v20-latin-200.woff2") format("woff2");
}

/* inter - 200 italic - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: italic;
  font-weight: 200;
  src: url("/fonts/inter/inter-v20-latin-200italic.woff2") format("woff2");
}

/* ===================================================================================== */

/* inter - 300 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/inter/inter-v20-latin-300.woff2") format("woff2");
}

/* inter - 300 italic - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  src: url("/fonts/inter/inter-v20-latin-300italic.woff2") format("woff2");
}

/* ===================================================================================== */

/* inter - regular - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/inter/inter-v20-latin-regular.woff2") format("woff2");
}

/* inter - italic - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/inter/inter-v20-latin-italic.woff2") format("woff2");
}

/* ===================================================================================== */

/* inter - 500 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/inter/inter-v20-latin-500.woff2") format("woff2");
}

/* inter - 500 italic - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/inter/inter-v20-latin-500italic.woff2") format("woff2");
}

/* ===================================================================================== */

/* inter - 600 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/inter/inter-v20-latin-600.woff2") format("woff2");
}

/* inter - 600 italic - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  src: url("/fonts/inter/inter-v20-latin-600italic.woff2") format("woff2");
}

/* ===================================================================================== */

/* inter - 700 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/inter/inter-v20-latin-700.woff2") format("woff2");
}

/* inter - 700 italic - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/inter/inter-v20-latin-700italic.woff2") format("woff2");
}

/* ===================================================================================== */

/* inter - 800 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/inter/inter-v20-latin-800.woff2") format("woff2");
}

/* inter - 800 italic - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: italic;
  font-weight: 800;
  src: url("/fonts/inter/inter-v20-latin-800italic.woff2") format("woff2");
}

/* ===================================================================================== */

/* inter - 900 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/inter/inter-v20-latin-900.woff2") format("woff2");
}

/* inter - 900 italic - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: italic;
  font-weight: 900;
  src: url("/fonts/inter/inter-v20-latin-900italic.woff2") format("woff2");
}

/* ===================================================================================== */

/* vazirmatn - 100 - arabic */
@font-face {
  font-display: swap;
  font-family: "Vazirmatn";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/vazirmatn/vazirmatn-v16-arabic-100.woff2") format("woff2");
}

/* ===================================================================================== */

/* vazirmatn - 200 - arabic */
@font-face {
  font-display: swap;
  font-family: "Vazirmatn";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/vazirmatn/vazirmatn-v16-arabic-200.woff2") format("woff2");
}

/* ===================================================================================== */

/* vazirmatn - 300 - arabic */
@font-face {
  font-display: swap;
  font-family: "Vazirmatn";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/vazirmatn/vazirmatn-v16-arabic-300.woff2") format("woff2");
}

/* ===================================================================================== */

/* vazirmatn - regular - arabic */
@font-face {
  font-display: swap;
  font-family: "Vazirmatn";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/vazirmatn/vazirmatn-v16-arabic-regular.woff2")
    format("woff2");
}

/* ===================================================================================== */

/* vazirmatn - 500 - arabic */
@font-face {
  font-display: swap;
  font-family: "Vazirmatn";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/vazirmatn/vazirmatn-v16-arabic-500.woff2") format("woff2");
}

/* ===================================================================================== */

/* vazirmatn - 600 - arabic */
@font-face {
  font-display: swap;
  font-family: "Vazirmatn";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/vazirmatn/vazirmatn-v16-arabic-600.woff2") format("woff2");
}

/* ===================================================================================== */

/* vazirmatn - 700 - arabic */
@font-face {
  font-display: swap;
  font-family: "Vazirmatn";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/vazirmatn/vazirmatn-v16-arabic-700.woff2") format("woff2");
}

/* ===================================================================================== */

/* vazirmatn - 800 - arabic */
@font-face {
  font-display: swap;
  font-family: "Vazirmatn";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/vazirmatn/vazirmatn-v16-arabic-800.woff2") format("woff2");
}

/* ===================================================================================== */

/* vazirmatn - 900 - arabic */
@font-face {
  font-display: swap;
  font-family: "Vazirmatn";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/vazirmatn/vazirmatn-v16-arabic-900.woff2") format("woff2");
}

/* ===================================================================================== */
